body, footer{
    background-color: #2C423F; 
  }

  h1, h2, h3, h4, h5, h6 {
    color: #15998F;
  }
  
  p {
    color: #EEE3AB;
  } 


  .breadcrumb, .read-more, .tags {
    color: #AF3DDB; 
  }

  .icon svg path {
    fill: #AF3DDB; 
  }

  .socials svg path {
    fill: #ffffff; 
  }

  .intro h2, .intro h3 {
    color: #ffffff;
  }

  .center-iframe {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .iframe-chart {
    margin-left: -700px;
    margin-right: -700px;
  }

  .portfolio img {
    max-width: 125%;
    max-height: 125%;
  }

  .image-chart {
    object-fit: cover;
    padding: 0;
    border: none;
    overflow: visible;
}